<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>TinDev | #1 Developer Recruiting Platform</title>
</head>

<body>
    <nav>
        <p>Navigation Bar</p>
    </nav>
    <hr>
    <main>
        <p>Welcome to the #1 recruiting platform made for developers</p>
        <H1>TinDev</H1>
    </main>
    <hr>
    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>