/* CSS styles for candidate offers page */
main {
    padding: 20px;
}

.container {
    margin: 40px;
}
.row {
    padding: 8px;
}
.test {
    background-color: lightgrey;
}
.d-flex {
    align-content: center !important;
    padding: 10px;
}

.col-9 {
    justify-content: center;
}