form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center
}
div.signup-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center

}

div.sign-up {
    width: 50%;
}

button.submit-button {
    width: 10%
}