<!------ template for applicant on viewApplicantsPortal ---->
{% load static %}
<div class="card" style="margin-bottom: 1rem" display="inline">
    <div class="card-body">
        <div>
            <span class="applicant-name">
                <h3 class="card-title align-middle" style="display:inline; padding-right: 1rem;">
                    {{ applicant.first_name }} {{ applicant.last_name }}
                </h3>
            </span>
            <div style="padding-bottom:0.5rem"></div>
            <p class="card-text">{{ applicant.bio }}</p>
            <!------ Additional Applicant Info ---->
            <span>
                <h6 class="align-top" style="display: inline">Compatibility:</h6>
                <p class="align-top" style="display: inline">{{ applicant.compatibility_score }}%</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Years of Experience:</h6>
                <p class="align-top" style="display: inline">{{ applicant.yoe }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Education:</h6>
                <p class="align-top" style="display: inline">{{ applicant.education }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Github:</h6>
                <p class="align-top" style="display: inline">{{ applicant.github }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Location (Zipcode):</h6>
                <p class="align-top" style="display: inline">{{ applicant.zip }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-middle" style="display: inline">Skills:</h6>
                {% for skill in applicant.skills %}
                <a class="btn btn btn-outline-primary btn-sm align-middle">{{ skill }}</a>
                {% endfor %}
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#offerModal-{{ applicant.candidate_id }}" style="float:right">
                    Extend Offer
                </button>

                {% include './offerModal.html' with applicant=applicant form=form%}
            </span>
        </div>
    </div>
</div>