{% load static %}
<div class="card" style="margin-bottom: 1rem">
    <div class="card-body">
        <div style="width:15%; float:left">
            <img src="{% static job.coverImage %}" style="display:flex; justify-content:center;" width="100"
                height="100" />
        </div>
        <div style="width:85%; float:right">
            <span class="job-title">
                <h3 class="card-title align-middle" style="display:inline; padding-right: 1rem;">
                    {{ job.title }}
                </h3>
                <h6 class="align-bottom" style="display:inline">{{ job.company }}</h6>
            </span>
            <p class="card-text">{{ job.description }}</p>
            <span>
                <h5 class="align-middle" style="display: inline">Location:</h5>
                <p class="align-middle" style="display: inline">{{ job.city }}, {{ job.state }}</p>
            </span>
            <br>
            <span>
                <h5 class="align-middle" style="display: inline">Skills:</h5>
                {% for skill in job.skills %}
                <a class="btn btn btn-outline-primary btn-sm align-middle">{{ skill }}</a>
                {% endfor %}
                <button id="search-button" class="btn btn-primary btn-sm align-middle" style="float: right">View
                    Applicants</button>
            </span>
        </div>
    </div>
</div>