<!------ template for recruiter job posts ---->

{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div class="card" style="margin-bottom: 1rem">
    <div class="card-body">
        <!------ Job Cover Image ---->
        <div style="width:15%; float:left">
            <img src="{% static job.coverImage %}" style="display:flex; justify-content:center;" width="100"
                height="100" />
        </div>
        <div style="width:85%; float:right">
            <span class="job-title">
                <h3 class="card-title align-middle" style="display:inline; padding-right: 1rem;">
                    {{ job.title }}
                </h3>
                <h6 class="align-bottom" style="display:inline">{{ job.company }}</h6>
                <!------ Drop down menu for individual post options ---->
            </span>
            <div style="padding-bottom:0.5rem"></div>
            <p class="card-text">{{ job.description }}</p>
            <!------ Additional Job Info ---->
            <span>
                <h6 class="align-top" style="display: inline">Status:</h6>
                <p class="align-top" style="display: inline">{{ job.status }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Type:</h6>
                <p class="align-top" style="display: inline">{{ job.job_type }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-top" style="display: inline">Location:</h6>
                <p class="align-top" style="display: inline">{{ job.city }}, {{ job.state }}</p>
            </span>
            <br>
            <span>
                <h6 class="align-middle" style="display: inline">Skills:</h6>
                {% for skill in job.skills %}
                <a class="btn btn btn-outline-primary btn-sm align-middle">{{ skill }}</a>
                {% endfor %}

                <!------ Button to apply to job ---->
                <!------ Application submitted & compatibility score calculated on button click ---->
                <!-- <form method="POST"> -->
                    {% csrf_token %}
                    <button style="display: inline; float:right;" type="button" type="submit" class="btn btn-secondary btn-block post-status-interested" data-catid="{{ job.id }}">
                        <i style="display: inline;" class="fa-solid fa-fire" name="post-status-interested" 
                            value="{{interested}}" {{interestedCheckedStatus}}></i> 
                        <h6 >SMASH!</h6>
                    </button>     

                    <button style="display: inline; float:right;" type="button" type="submit" class="btn btn-secondary btn-block" data-catid="{{ job.id }}">
                        <i style="display: inline;" class="fa-solid fa-fire-extinguisher" name="post-status-uninterested" 
                            value="{{ uninterested }}" {{uninterestedCheckedStatus}}></i> 
                        <h6>Pass...</h6>
                    </button>
                <!-- </form> -->

            </span>
        </div>
    </div>
</div>

<!------ ajax script to submit application without reloaded page ----->
<script type="text/javascript">
    $('.post-status-interested').click(function(){
        var jid;
        jid = $(this).attr("data-catid");
        $.ajax(
        {
            type:"GET",
            url: "/submit_application",
            data:{
                    jid: jid
            },
            success: function( data ) {}
        })
    });
</script>