<!------ template for candidate dashboard ---->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!------ ajax jquery for updating model objects without reloading page ---->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/candidate_dashboard.css' %}">
    <script src="https://kit.fontawesome.com/fcff164d2d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Dashboard | TinDev</title>
</head>

<body>
    <!------ navbar ---->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/tindev_combomark.png' %}" alt="" width="150px" class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-div" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/candidate_dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/candidate_offers">Offers</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-secondary btn-block" onclick="location.href='/logout'">Log out</button>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col">
                <!----- candidate profile container on left hand side ---->
                <div class="profile-container">
                    <br><br>
                    <div class="card-item filter-card">
                        <article class="card">
                            <div class="card-body">
                                <h5 class="filter-title">Profile</h5>
                                <div class="form-row">
                                    <div class="align-items-center" style="display:inline">
                                        <img src="{% static profilePicture %}" class="img-thumbnail">
                                        <p><b>{{first_name}} {{last_name}}</b></p>
                                        <div id="skills">
                                            <h6>Skills</h6>
                                            {% for skill in skills %}
                                            <button type="button" class="btn btn-success btn-sm">{{skill}}</button>
                                            {% endfor %}
                                        </div> <br>
                                        <button class="btn btn btn-outline-danger btn-sm align-middle">Log Out</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <!----- job posts container on left hand side ---->
            <div class="col-8">
                <div class="jobs-container">
                    <h2 style="display:inline">Search Jobs</h2>
                    <form method="POST" class="search-bar" style="display:inline">
                        {% csrf_token %}
                        <input class='skinny align-middle' type="text" name="post_search_keyword"
                            id="post_search_keyword" placeholder="Search Here">
                        <button type="submit" id="search-button"
                            class="btn btn-primary btn-sm align-middle">Search</button>
                    </form>
                    <br /><br />
                    <!----- jobs get filered in views ---->
                    {% for job in jobs %}
                    {% include './components/jobPost.html' with job=job %}
                    {% endfor %}
                </div>
                {% if not jobs %}
                <div class="search-result-message-div vertical-center difficult-center">
                    <p class="vertical-centercenter search-result-message">No jobs to show</p>
                </div>
                {% endif %}
            </div>

            <!----- job posts container in the middle ---->
            <div class="col">
                <div class="filter-container">
                    <br /><br />
                    <form method="POST">
                        {% csrf_token %}
                        <!----- job post filters container on the right hand side ---->
                        <div class="card-item filter-card">
                            <article class="card">
                                <header class="card-header">
                                    <h6 class="filter-title">Post Status</h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="Check1"
                                                name="myPosts" value="{{ myPost }}" {{myPostsCheckedStatus}}>
                                            <label class="custom-control-label">Saved Posts Only</label>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div><br />
                        <div class="card-item">
                            <article class="card">
                                <header class="card-header">
                                    <h6 class="filter-title">Job Post Status</h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                name="post-status-active" id="post-status-active" value="{{ active }}"
                                                {{activeCheckedStatus}}>
                                            <label class="custom-control-label">Active</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                name="post-status-inactive" name="post-status-inactive"
                                                value="{{ inactive }}" {{inactiveCheckedStatus}} value="{{ inactive }}"
                                                {{inactiveCheckedStatus}}>
                                            <label class="custom-control-label">Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div></br>
                        <div class="card-item">
                            <article class="card">
                                <header class="card-header">
                                    <h6 class="filter-title">Type</h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                name="post-status-part-time" id="post-status-part-time"
                                                value="{{ partTime }}" {{partTimeCheckedStatus}}>
                                            <label class="custom-control-label">Part Time</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                name="post-status-full-time" id="post-status-full-time"
                                                value="{{ fullTime }}" {{fullTimeCheckedStatus}}>
                                            <label class="custom-control-label">Full Time</label>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div><br />
                        <div class="card-item">
                            <article class="card">
                                <header class="card-header">
                                    <h6 class="filter-title">Job Location</h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="post-loc-SF"
                                                id="post-loc-SF" value="{{ locSF }}" {{SFCheckedStatus}}>
                                            <label class="custom-control-label">San Francisco</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="post-loc-NY"
                                                name="post-loc-NY" value="{{ locNY }}" {{NYCheckedStatus}}>
                                            <label class="custom-control-label">New York</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="post-loc-Au"
                                                name="post-loc-Au" value="{{ locAu }}" {{AuCheckedStatus}}>
                                            <label class="custom-control-label">Austin</label>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div><br />
                        <input class="btn btn-primary" name="filterPosts" type="submit" value="Filter"
                            style="width:100%">
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>