<!------ template for recruiter dashboard page ---->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/recruiter_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Dashboard | TinDev</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/recruiter_dashboard">
                <img src="{% static 'images/tindev_combomark.png' %}" alt="" width="150px" class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-div" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/recruiter_dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-secondary btn-block" onclick="location.href='/logout'">Log out</button>
        </div>
    </nav>
</head>

<body style="background-color:rgb(253, 253, 253)">
    <main>
        <div style="padding-top:2rem">
            <div style="width:85%; float:left">
                <!------ create new post function ---->
                <div style="padding: 0rem 3rem 1rem">
                    <button class="btn btn-primary" value="Create New Post" onclick="location.href='/create_posts';">Create New Post</button>
                </div>
                <div class="post-content">
                <!------ display jobs based on filtering done in views ---->
                    {% for job in jobs %}
                    {% include './components/recruiterPost.html' with job=job %}
                    {% endfor %}
                </div>
            </div>
            
            <!------ job filter options div in RHS ---->
            <div style="width:15%; float:right">
                <h3 align="center" style="margin-right:1rem">Job Filters</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-item filter-card">
                        <article class="card">
                            <header class="card-header">
                                <h6 class="filter-title">Post Filters</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="my-post"
                                            value="{{ myPosts }}" {{myPostsCheckedStatus}}>
                                        <label class="custom-control-label">My Posts</label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="card-item filter-card">
                        <article class="card">
                            <header class="card-header">
                                <h6 class="filter-title">Post Status</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="post-status-active"
                                            value="{{ active }}" {{activeCheckedStatus}}>
                                        <label class="custom-control-label">Active</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="post-status-inactive"
                                            value="{{ inactive }}" {{inactiveCheckedStatus}}>
                                        <label class="custom-control-label">Inactive</label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card-item filter-card">
                        <article class="card">
                            <header class="card-header">
                                <h6 class="filter-title">Interested Candidates</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <input type="range" class="form-range" min="0" max="100"
                                            value="{{ numCandidates }}" name="candidateRange" step="1"
                                            oninput="this.nextElementSibling.value = this.value">
                                        <output>{{ numCandidates }}</output><output>+</output>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card-item filter-card">
                        <div class="filter-content">
                            <div class="form-row">
                                <input class="btn btn-primary" type="submit" value="Filter" style="width:100%">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <hr>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>